li {
  text-align:center;
  list-style:none;
}

ul {
  padding:0;
}

.darkLi {
  color:#99d8fe;
  background-color:#1d0e2f;
}

.lightLi {
  color:#1d0e2f;
  background-color:#99d8fe;
}

.outputs {
  display:none;  
}

.titleLi {
  font-size:large;
}

.outputList {
  border:2px solid #4C3F79;
}