body {
  background-color:black;
  background-image: url("../assets/images/nasa_bg.jpg");
  background-size:100%;
}

li {
  text-align:center;
  list-style:none;
}

ul {
  padding:0;
}

.darkLi {
  color:#99d8fe;
  background-color:#1d0e2f;
}

.lightLi {
  color:#1d0e2f;
  background-color:#99d8fe;
}

.outputs {
  display:none;  
}

.titleLi {
  font-size:large;
  font-weight:bold;
}

.outputList {
  border:2px solid #4C3F79;
}

h1 {
  color:#99d8fe;  
}

.btn {
  background-color:#91335D;
  color:#b9d6f2;
}

.btn:hover {
  background-color:#b2708e;
  color:#b9d6f2;
}

.title {
  margin:4rem 0 2rem 0;
}

.row {
  margin-left:1rem;
}